/* @import "$HOME/.config/colors/colors.css" */
@import "../colors/colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
  background-color: #242122;
  min-height: 0;
}

window,
tooltip {
  background-color: @background;
}

#workspaces {
  margin: 1px 0;
}

#workspaces button {
  color: @foreground;
  border: none;
  padding: 0 5px;
}

#workspaces button.active {
  border: 2px solid @pink;
}

#custom-power,
#tray,
#pulseaudio,
#clock,
#cpu,
#memory,
#temperature {
  color: @foreground;
  margin: 1px 0;
  padding: 0 10px;
}

#custom-power:hover,
#pulseaudio:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  background-color: alpha(@select, 0.6);
}

/* #pulseaudio {
  color: @orange;
}

#clock {
  margin-right: 10px;
  color: @blue;
} */

#custom-power {
  padding: 0 15px 0 10px;
}

#cpu {
  color: #989cff;
  padding: 0 4px;
  margin-right: 10px;
}

#memory {
  color: #d19a66;
  padding: 0 4px;
}

#temperature {
  color: #a4ebf3;
  padding: 0 4px;
  margin-left: 8px;
}

#temperature.critical {
  color: #ff5555;
}
