@define-color accent #afa193;
@define-color fg #f6f1ea;
@define-color bg #101010;
@define-color bg-alt #252525;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window,
tooltip {
  background-color: @bg;
  border-bottom: 2px solid @bg-alt;
}

#workspaces {
  margin: 1px 0;
}

#workspaces button {
  color: @fg;
  border: none;
  padding: 0 5px;
}

#workspaces button.active {
  border: 2px solid @fg;
}

#custom-power,
#tray,
#pulseaudio,
#clock {
  color: @fg;
  margin: 1px 0;
  padding: 0 10px;
}

#custom-power:hover,
#pulseaudio:hover,
#clock:hover {
  background-color: alpha(@accent, 0.6);
}

#custom-power {
  padding: 0 15px 0 10px;
}

#cpu {
  color: #989cff;
  padding: 0 4px;
  margin-right: 10px;
}

#memory {
  color: #d19a66;
  padding: 0 4px;
}

#temperature {
  color: #a4ebf3;
  padding: 0 4px;
  margin-left: 8px;
}

#temperature.critical {
  color: #ff5555;
}
